/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  position: absolute;
  display: block;
  right: 28px;
  bottom: 28px;
  z-index: 31;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px; }

.reveal .slide-number a {
  color: currentColor; }

.reveal .slide-number-delimiter {
  margin: 0 3px; }
